<app-navbar></app-navbar>
<!-- <app-filtro [category]="category"></app-filtro> -->
<!-- <app-product></app-product> -->
<!-- <app-product-card></app-product-card> -->
<!-- <app-boot-card></app-boot-card> -->
<app-bootishop></app-bootishop>

<!-- <nav>
    <a routerLink="/product-filter">filtro</a>
</nav> -->

<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
            MarkAnny!
        </div>
    </div>
</div> -->